<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TheGreatSupermarketEntities" connectionString="metadata=res://*/TheGreatSupermarket.csdl|res://*/TheGreatSupermarket.ssdl|res://*/TheGreatSupermarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MICHAEL-XPS\MSSQLSERVER08R2;initial catalog=TheGreatSupermarket;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>